# Import

In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet

## Get data

In [2]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
# All groups
# 9 -> 7*8 + 9 = 65
all_tables[9]
all_tables[16]
all_tables[23]
all_tables[30]

   Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     France    3  2  0  1   6   3  +3    6  Advanced to knockout stage
1    2  Australia    3  2  0  1   3   4  −1    6  Advanced to knockout stage
2    3    Tunisia    3  1  1  1   1   1   0    4                         NaN
3    4    Denmark    3  0  1  2   1   3  −2    1                         NaN

In [4]:
# Scroll through all group tables
for i in range(9, 65, 7):
    print(i)

9
16
23
30
37
44
51
58

In [5]:
# columns allow us to know whole colomns that exist in our data frame 
all_tables[9].columns[1]

'Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte'

In [6]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

# Get all tables like data frame
for i in range(9, 65, 7):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True) # inplace allow to save all change
    df.pop('Qualification')
    print(df)

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1
   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    3  2  0  1   5   2  +3    6
1    2        Poland    3  1  1  1   2   2   0    4
2    3        Mexico    3  1  1  1   2   3  −1    4
3    4  Saudi Arabia    3  1  0  2   3   5  −2    3
   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    3  2  0  1   6   3  +3    6
1    2  Australia    3  2  0  1   3   4  −1    6
2    3    Tunisia    3  1  1  1   1   1   0    4
3    4    Denmark    3  0  1  2   1   3  −2    1
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Japan    3  2  0  1   4   3  +1    6
1    2       Spain    3  1  1  1   9   3  +6    4
2    3     Germany    3  1  1  1   6   5  +1    4
3    4  Costa Rica    3  1  0  2   3  11  −8    3
   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Morocco    3  2  1  0   4   1  +3    7
1    2  Croatia    3  1  2  0   4   1  +3    5
2    3  Belgium    3  1  1  1   1   2  −1    4
3    4   Canada    3  0  0  3   2   7  −5    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    3  2  0  1   3   1  +2    6
1    2  Switzerland    3  2  0  1   4   3  +1    6
2    3     Cameroon    3  1  1  1   4   4   0    4
3    4       Serbia    3  0  1  2   5   8  −3    1
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [7]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [8]:
# I did this to understand how to change the number to a letter
for letter, i in zip(alphabet, range(9, 65, 7)):
    print(letter, i)

A 9
B 16
C 23
D 30
E 37
F 44
G 51
H 58

In [13]:
dict_table = {}

# Get all tables like data frame
for letter, i in zip(alphabet, range(9, 65, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:"Team"}, inplace=True) # inplace allow to save all change
    dict_table[f'Group {letter}'] = df

In [14]:
dict_table['Group B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1

## Export Data